.bio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300px;
}

.bio button {
        margin-top: 10%;
        background-color: darkmagenta;
        border-radius: 10%;
        height: 6vh;
        width: 10vw;
        color: #fff;
        font-size: large;

}